*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* Remove a linha branca */
}

body{
    background-color: rgba(99, 156, 167, 0.178);
}

header{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8KTi-lo-c7mrXNRI0oBxo8ss2tETYPdB1pg&s');
    height: 170px;
    display: flex; /*Sem isso, o navegador ignora solenemente o align-items*/
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: flex-end;
    padding-right: 50px;
}

#cabecalho{
    justify-content: center;
    text-align: right;
    align-items: flex-end;     /* Alinha tudo para a direita */
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header p{
    font-size: 18px;
    font-style: italic;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introducao p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    width: 1000px;
    margin-left: 100px;
}

#menu{
    background-color: rgb(15, 164, 214);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex; /*Sem isso, o navegador ignora solenemente o align-items*/
    height: 40px;
    border-bottom: 3px solid;
    gap: 20px;
}

#menu a{
    color: white;
   /* border: 1px solid white;8*/
    text-decoration: none;
    padding: 0 10px; /* Espaçamento lateral entre os links */
    height: 100%; /* Faz o link ocupar toda a altura do menu para o hover ficar bonito */
    align-items: center;
    display: flex; /*Sem isso, o navegador ignora solenemente o align-items*/
    text-transform: uppercase;
}

#menu a:hover{
    background-color: orange;
    color: black;
}

.introducao p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    width: 1000px;
    margin-left: 100px;

}

.titulo-home{
    margin-left: 100px;
    font-size: 45px;
    padding: 20px 0;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.frase-efeito{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    color: rgb(15, 164, 214);
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo{
    margin-left: 100px;
    padding: 40px;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
.agenda{
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid;
    /*background-color: rgba(114, 187, 218, 0.226);*/
    max-width: 1000px;
}

.agenda tr:nth-child(even) {
    background-color: rgba(133, 120, 120, 0.164);
}

.agenda th, .agenda td {
/* Garante que as linhas internas também sejam sólidas */
    padding: 8px; /* Opcional: dá um respiro ao texto */
}

.agenda th{
    border-bottom: 1px solid;
}

.agenda td{
    line-height: 1.6;
}

footer{
    clear: both;
    text-align: center;
    margin-top: 85px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(15, 164, 214);
    color: white;
}

footer a{
    color: white;
}

.icones{
    margin: auto; /*Tabela só centraliza com margin auto centralizando assim os icones*/
}

.icones td{
    padding-left: 2px;
}

.icones td a:hover{
    color: black
}


/*Estilo pagina inscreva-se*/


.titulo{
    margin-left: 100px;
    margin-top: 15px;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 500px;
}

#formulario{
    justify-content: center;
    align-items: center;
    display: flex;
}

form{
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(138, 206, 206, 0.178);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.campo input[type="text"], .campo input[type="email"]{
    padding:10px;
}

.campo input[type="text"]:focus, .campo input[type="email"]:focus{ /* Adiciona um estilo de foco para os campos de texto e email quando selecionado para digitar*/
    border-color: orange;
    outline: none;
}
.campo{
    margin-bottom: 20px;
}

.campo label{
    display: block;
    margin-bottom: 10px;
}

.campo input{
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.campo-aulas label{
    display: block;
    margin-bottom: 25px;
}

.campo-aulas{
    margin-bottom: 30px;
}

.nome-aula{
    display: inline !important;
    margin-left: 5px;
    margin-right: 15px;
}

label input[type="checkbox"]{
    margin-right: 5px;
    display: flex;
    align-items: center;
}

select{
    width: 100%;
    max-width: 320px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

select option{
    padding: 8px;
}

select:focus{
    border-color: orange;
    outline: none;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button{
    width: 150px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 8px;
    cursor: pointer;


    background-color: rgb(15, 164, 214);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

button:hover{
    color: black;
    background-color: orange;
    border-color: black;
}

/*Estilo pagina sobre*/

#front-end:target{
    border: 2px solid orange;
}

#logica:target{
    border: 2px solid orange;
}


#banco-de-dados:target{
    border: 2px solid orange;
}


#front-end{
    border-radius: 10px;
    border: 1px solid;
    background-color: rgba(114, 187, 218, 0.226);
    max-width: 1000px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 40px;
}

#logica{
    border-radius: 10px;
    border: 1px solid;
    background-color: rgba(114, 187, 218, 0.226);
    max-width: 1000px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: 20px;
}

#banco-de-dados{
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid;
    background-color: rgba(114, 187, 218, 0.226);
    max-width: 1000px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
}

#banco-de-dados h3{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

#banco-de-dados h3{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

#logica h3{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

#front-end h3{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.img-sobre{
    width: 50px;
    height: 50px;
    max-width: 1000px;
    margin: 0;
}